#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.card {
    width: 100px;
    height: 150px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
}

#container{
    position: absolute;
    margin-top: -1.6vw;
    margin-left: -0.8vw;
    display: flex;
    width: 99vw;
    height: 100vw;
    background: rgb(1,55,0);
    background: linear-gradient(90deg, rgba(1,55,0,1) 0%, rgb(34, 85, 9) 35%, rgb(27, 126, 10) 100%);
    
}

h1{
    color: aliceblue;
    border: 3px solid black;
    font-size: 4vw;

}

#a,#b,#c,#d,#e,#f,#g,#h,#i,#j{
    margin-top: 9vw;
    width: 8vw;
    height: 13vw;
    border-radius: 1vw;
    background-color: white;
    justify-content: space-between;
    grid-gap: 2vw;
    margin-left: 1.7vw;
    
}

#repartir{
    position: absolute;
    width: 8vw;
    height: 13vw;
    background-color: white;
    border-radius: 1vw;
    margin-top: 30vw;
    margin-left: 89vw;
}

#titulo{
    margin-left: 2vw;
    width: 95vw;
    height: 4vw;
    position: absolute;

}

#cartas{
    position: absolute;
}

#reparte{
    width: 8vw;
    height: 13vw;
}