
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#container {
    width: 60%;
    margin: 0 auto;
    background-image: url(./img/fondo1.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vw;
}

button {
    padding: 10px;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
}

#carta-mostrada img {
    width: 150px;
    height: auto;
}

#opciones {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#opciones img {
    width: 100px;
    height: 140px;
    cursor: pointer;
}

#resultado {
    font-size: 20px;
    font-weight: bold;
}

#nueva_carta{
    border-radius: 2vw;
    background-color: rgb(23, 192, 23);
}